################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SteamStopperService/obj/Debug
/SteamStopperService/bin/Debug
/SteamStopperService/SteamStopperService/bin/Debug
/SteamStopperService/SteamStopperService/obj/Debug
/SteamStopperService/.vs/SteamStopperService/v14
/SteamLauncher/.vs/SteamLauncher/v14
/SteamLauncher/SteamLauncher/bin/Debug
/SteamLauncher/SteamLauncher/obj/Debug
