################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SteamStopperService/obj/Debug
/SteamStopperService/bin/Debug
